@font-face {
    font-family: densei;
    src: url('../../assets/dense.otf');
}

@font-face {
    font-family: think;
    src: url('../../assets/Think-Bold.ttf');
}

@font-face {
    font-family: corbal;
    src: url('../../assets/Corbel.ttf');
}

@font-face {
    font-family: flexing;
    src: url('../../assets/FelixTitling.ttf');
}

@font-face {
    font-family: against;
    src: url('../../assets/against.otf');
}

.footer-main {
    /* margin-top: 10vw; */
    height: 50vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(177, 139, 189); */
    background-color: #fff;
}

.footer-1 {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2vw;
    gap: 0.6vw;
    align-items: center;

}

.footer-1 .logo-footer {
    color: #000;
    font-size: 4.6vw;
    font-family: against;
    text-align: left;
    margin-right: 8vw;

}

.footer-1 p {
    letter-spacing: 1px;
    font-family: corbal;
    font-size: 1.1vw;
    opacity: 0.6;
    color: #000;
}

.footer-2 {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;
}

.footer-2 .footer-list p {
    color: #000;
    font-family: against;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 1.2vw;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: -52px;
}

.footer-list li {
    cursor: pointer;
    font-size: 0.9vw;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    font-weight: 200;
    color: rgb(39, 39, 39);
    opacity: 0.8;
    padding: 8px;
    margin-right: 250px;
    transition: all 0.4s ease-out;
}

.footer-list li:hover {
    padding-left: 15px;
}

.community{
    color: #000;
    font-family: corbal;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 0.9vw;
    font-weight: 900;
    text-transform: uppercase;
}